body {
	background: url(http://www.wwalls.ru/large/201210/49536.jpg) no-repeat;
	background-size: cover;
	background-color: rgba(255,255,255,0.5);
}
table {
	position: relative;
	margin: auto;
	margin-top: 5em;
	border: 5px solid black;
	text-align: center;
}

td {
	width: 110px;
	height: 110px;
	border: 5px solid black;
	text-align: center;
	padding: 5px;
	background: rgba(255,255,255,0.8);
}

div {
	position: relative;
	width: 100%;
	height: 100%;
}

.Love {
	position: relative;
	width: 100px;
	height: 90px;
	margin: auto;
}
.Love:before,
.Love:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background-color: red;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.Love:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}

.Cloud {
	position: relative;
	width: 3em; height: 3em;
	margin-left: 2em;
	background: #D5DEE9;
	border-width: 0.25em;
	border-style: solid;
	border-color: #6E839E;
	border-radius: 50% 50% 0 0;}
.Cloud:before, .Cloud:after {
	content: "";
	position: absolute; bottom: -0.25em;
	background: inherit;
	border-width: 0.25em;
	border-style: solid;
	border-color: #6E839E;}
.Cloud:before {
	left: 80%;
	width: 60%; height: 60%;
	border-left: none;
	border-radius: 50% 50% 50% 0;}
.Cloud:after {
	right: 80%;
	width: 80%; height: 80%;
	border-right: none;
	border-radius: 50% 50% 0;}

.textTwo {
	text-align: center;
	margin-bottom: 30px;
	font-size: xx-large;
	font-weight: bolder;
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}